@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  scroll-behavior: smooth;
  background-color: #edf0c9;
}